
$mainNavbarBg: #ffffff;
$mainAuthenBg: #faf8fd;
$darkBlue: #00a1ff;
$lightBlue: #03a9f4;
$textColorOnWhite: #616161;
$titleColorOnWhite: #5a5a5a;
$darkSilver: #8c8c8c;
$middleSilver: #d3d3d3;
$lightSilver: #f4f4f4;
$textColorInDarkMode: #bababa;


$errorColor: #ff1a1a;
$successColor: #00d06b;
$successBtnTextColor: #01ff6a;
$infoColor: #039be5;
$warningColor: #d08600;
$darkOrange: #FF9800;
$deepOrange: #FF9800;
$materialBlue: #00c4ff;
$lightMaterialBlue: #0ff4ff ;
$hoverInputOutline: #00e8ff;

// material colors
$greenMaterial: #00C853;
$lightGreenMaterial: #00E676;
$grayMaterial: #1f4a5e;
$redMaterial: #f44336;
$purpleMaterial: #9C27B0;
$darkBlueMaterial: #2196F3;
$lightBlueMaterial: #03A9F4;
$orangeMaterial: #FF9800;
$cyanMaterial: #00BCD4;




$setareGreenLogo: #5dc4d9;
$inputBorderColorInLightMode: #e2e2e2;
$inputBorderColorInDarkMode: #777777;
$darkModeMainBg: #10171d
