@font-face {
    font-family: 'sans';
    src: local('sans'), url(../assets/fonts/iransans.woff) format('woff');
}
@font-face {
    font-family: 'yekan';
    src: local('yekan'), url(../assets/fonts/yekan.woff) format('woff');
}
